
@{
    ViewBag.Title = "GioiThieu";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>THÔNG TIN SINH VIÊN</h2>

<h4>Mã: 59132942</h4>
<h4>Tên: Thái Tuấn</h4>
<h4>Ngày KT: 04/07/2020</h4>
<h4>Lớp: 59.CNTT-1</h4>

